.imgmini-cart img {
  width: 150px;
  background-color: rgb(230, 240, 238);
  height: 150px;
 
}

.btnandLinkcart{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.shoppingcart-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border-bottom: 1px solid rgb(230, 240, 238);
}

.titleanditems h1 {
  text-align: left;
  width: 100%;
  font-size: 50px;
  /* border: 2px solid pink; */
  padding-bottom: 90px;
}

.titles-cart {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid rgb(230, 240, 238);
  width: 100%;
  /* border: 2px solid sienna; */
  gap: 550px;
  padding-bottom: 20px;
  /* margin-left: 100px; */
}

.total {
  text-align: right;
  margin-top: 20px;
}

/* .Shoppingcart-table {
  display: flex;
  flex-wrap: wrap;

  border-bottom: 1px solid rgb(230, 240, 238);
  width: 100%;
  border-radius: 10px;

  flex-direction: column;
} */

.quantitybtnsall {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.quantitybtnsall button {
  /* border: 1px solid black; */
  width: 18px;
  background-color: rgb(76, 104, 53);
  color: white;
  border: none;
  border-radius: 20px;
}

.cart-all {

    gap: 50px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 200px;
    margin-top: 200px;
    /* border: 2px solid gray; */

}

.Shoppingcart-all {
  display: flex;
  width: 100%;
  /* border: 2px solid black; */

  flex-direction: column;

  /* border: 2px solid red; */
}

.total {
  text-align: right !important;

  
}

.titleofcarts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 150px;
}

/* .titleanditems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: center;

  border: 2px solid rgb(0, 98, 255);
 
} */

.checkoutbtn {
  margin-top: 50px;

  width: 170px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;

  background-color: rgb(76, 104, 53);
}

.checkoutbtn:hover {
  width: 170px;
  height: 50px;
  border-radius: 10px;

  background-color: rgb(102, 157, 102);
}

.price-cart {
  margin-right: 10px;
}

.checkoutlink {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.img-price-title-cart {
  /* border: 2px solid green; */
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btnandLinkcart {
  padding: 100px;
  text-align: center;
  background-color: rgb(230, 240, 238);
  border-radius: 5px;
  margin-top: 20px;
 
 
}

.rightsection-cart {
  align-self: flex-start;
}
@media only screen and (max-width: 750px) {
  .titleanditems {
    width: 100%;
    margin: 50px;
  }
  
  .titles-cart {
    gap: 150px;
  }

  
}
