.orderinputs-all {
  display: flex;
  /* border: 2px solid black; */
  background-color: rgb(251, 252, 252);
  width: fit-content;
 
  /* margin-top: 200px; */
  color: black;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
}

.orderinputs-all h1 {
  font-size: 50px;
}

.input-fields-orders{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rebeccapurple; */
}

/* .input-fields-orders img{
  width: 600px;
  margin-top: 200px;
  height: 760px;
} */

.submit-btn {
  color: white;
  font-size: 20px;
  border: none;
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: rgb(82, 121, 76);
}

label {
  color: black;
}

.orderinputs-all input {
  width: 500px;
  background-color:white;
  height: 50px;
  border: none;
  font-size: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.notecheckout input{
  width: 500px;
  height: 200px;
}

.tofit{
  /* border: 2px solid rebeccapurple; */
  width: 600px;
  height: 70vh;
}

.submit-btn:hover{
  background-color: rgb(102, 157, 102);
}

@media screen and (max-width: 450px) {
  .orderinputs-all {
    width: 100%;
    padding: 10px;
    margin-top: 100px;
  }

  .orderinputs-all h1 {
    font-size: 30px;
    text-align: center;
  }

  .submit-btn {
    width: 80px;
    height: 40px;
    font-size: 16px;
  }

  .orderinputs-all input {
    width: 100%;
    margin-bottom: 10px;
  }

  .notecheckout input{
    height: 100px;
  }

  .tofit{
    width: 100%;
    height: auto;
  }
}
