.about-us-header {
  background: linear-gradient(rgba(7, 7, 7, 0.548), rgba(33, 29, 29, 0.712)),url("../images/backter.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us-page {
  background-color: rgb(236, 243, 243);
}

.about-us-header h1 {
  text-align: center;
  font-size: 150px;
  color: white;
}
.aboutimg {
  width: 800px;
  height: 600px;

  margin-top: -400px;
  padding-left: 200px;
}

.about-us-header p {
  color: aliceblue;
  width: 50%;
  font-size: 30px;
  text-align: center;
}

.about-us-descandimg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: -20px;
  background-color:rgb(236, 243, 243);


  padding: 150px 300px 70px;
}

.about-us h1 {
  font-size: 60px;
  
}

.about-us{
 
  width: 50%;
 
}

.about-us p {
  padding-top: 20px;

  font-size: 25px;
 
}

.about-imgbub {
  /* border: 2px solid yellow; */
 
  height: 500px;

  width: 500px;
}

.about-imgbub:hover {
  
  content: url("../images/open.png");
  height: 500px;
  width: 500px;
}

/* .container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.rectangle {
  position: absolute;
  left: 350px;
  transform: skew(-59deg);
  top: 0;
  bottom: 0;
  width: 65%;
  background-color: rgb(76, 104, 53);
}

.about-image-header {
  border: 2px solid blue;
  position: absolute;
  bottom: -20%;
  left: 10%;
 
  z-index: 1;
} */

/* Values section */

.values-box {
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgb(82, 121, 76);
  margin-bottom: 300px;
  color: white;
  font-size: 20px;
}

.values-box p {
  padding-top: 10px;
  width: 300px;
  /* border: 2px solid red; */
}

.value-images {
  border-radius: 100px;
  width: 100px;
}

.middle-about {
  /* border-bottom: 2px solid black; */
  background-color: rgb(175, 201, 159);
}

.corevalues-about-all {
  font-size: 30px;
  text-align: center;
}

.values-h1 {
  /* border: 2px solid salmon; */
  padding: 50px;
}

.values-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 1500px) {
  .about-us-header h1 {
    font-size: 70px;
  }
  .about-us-header p {
    font-size: 25px;
  }
  .aboutimg {
    height: 430px;
    width: 600px;
    margin-top: -300px;
  }

  .about-us-descandimg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: -20px;
  /* border: 2px solid yellow; */

  margin: 10px;
}

.about-us{
  /* border: 2px solid green; */
  width: fit-content;
}
.values-box {
    /* border: 2px solid rgb(255, 72, 0); */
    margin-bottom: 0;
    width: 100%;
   
}
.values-about {
  display: flex;
  /* border: 2px solid yellow; */
  flex-wrap: wrap;
  flex-direction:column;

  width: fit-content;
  justify-content: center;
  width:fit-content;
  align-items: center;
}

.corevalues-about-all {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

}






@media screen and (max-width: 1150px) {
  .about-us-header h1 {
    font-size: 80px;
  }
  .about-us-header p {
    font-size: 30px;
    width: 80%;
  }

  
  .aboutimg {
    height: 450px;
    width: 650px;
    margin-top: -300px;
  }

.values-about {
  display: flex;
  /* border: 2px solid yellow; */
  flex-wrap: wrap;
  flex-direction:column;

  width: fit-content;
  justify-content: center;
  width:fit-content;
  align-items: center;
}

.corevalues-about-all {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-us-descandimg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: -20px;
  /* border: 2px solid yellow; */

  padding:100px 0;
}

.about-us{
  /* border: 2px solid green; */
  width: fit-content;
}
.about-us p{
  /* border: 2px solid green; */
  width: fit-content;
  font-size: 25px;
}
.about-us h1{
  /* border: 2px solid green; */
  width: fit-content;
  font-size: 50px;
}

}






@media screen and (max-width: 950px) {
  .about-us-header h1 {
    font-size: 80px;
    margin-top: -50px;
  }
  .values-h1{
    font-size: 40px;
  }
  .about-us-header p {
    font-size: 30px;
    width: fit-content;
    /* border: 2px solid black; */
  }
  .aboutimg {
    height: 500px;
    width: 700px;
    margin-left: -100px;
    margin-top: -300px;
  }
}











@media screen and (max-width: 750px) {
  .about-us-header h1 {
    font-size: 50px;
    margin-top: -50px;
  }
  .about-us-header p {
    font-size: 20px;
    width: fit-content;
    /* border: 2px solid black; */
  }
  .aboutimg {
    height: 330px;
    width: 500px;
    margin-left: -200px;
  }

  .about-us-descandimg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: -20px;
  /* border: 2px solid yellow; */

  padding:100px 0;
}

.about-us{
  /* border: 2px solid green; */
  width: fit-content;
}
.about-us p{
  /* border: 2px solid green; */
  width: fit-content;
  font-size: 20px;
}
.about-us h1{
  /* border: 2px solid green; */
  width: fit-content;
  font-size: 40px;
}

}
