.loginandregister {
  /* border: 2px solid green; */
  width: 100%;
  height: fit-content;
  background-image: url("../images//loginimage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-container-login {
  margin-top: 500px;
}

.loginandregister-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  flex-direction: column;
}

.loginandregister-inputs input {
  background-color: rgb(237, 241, 241);
  border: none;
  /* border: 2px solid green; */
  margin-bottom: 40px;
  width: 300px;
  height: 50px;
}

.loginandregisterbackgrnd {
  background: rgba(113, 110, 110, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);

  padding: 100px;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginandregisterbackgrnd p {
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
  /* border: 2px solid green; */
}

.loginandregisterbackgrnd h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.login-register-btn {
  width: 100px;
  height: 50px;
  border: none;

  font-size: 20px;
  color: white;
  background-color: rgb(82, 121, 76);
}

.link-signandLog {
  color: white;
}

.link-signandLog:hover {
  cursor: pointer;
  color: green;
}

.loginandregister {
  /* border: 2px solid green; */
  width: 100%;
  height: 100vh;
  background-image: url("../images//loginimage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-container-login {
  margin-top: 500px;
}

.loginandregister-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  flex-direction: column;
}

.loginandregister-inputs input {
  background-color: rgb(237, 241, 241);
  border: none;
  /* border: 2px solid green; */
  margin-bottom: 40px;
  width: 300px;
  height: 50px;
}

.loginandregister-inputs label {
  color: white;
}

.loginandregister-all {
  display: flex;
  padding-top: 200px;
  color: white;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginandregisterbackgrnd {
  /* From https://css.glass */
  background: rgba(113, 110, 110, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);

  padding: 50px 100px;
  padding-bottom: 50px;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginandregisterbackgrnd p {
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
  /* border: 2px solid green; */
}

.loginandregisterbackgrnd h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.login-register-btn {
  width: 100px;
  height: 50px;
  border: none;

  font-size: 20px;
  color: white;
  background-color: rgb(82, 121, 76);
}

.link-signandLog {
  color: white;
}

.link-signandLog:hover {
  cursor: pointer;
  color: green;
}

@media only screen and (max-width: 950px) {
  .loginandregister-all {
    padding: 150px 10px;
  }

  .loginandregisterbackgrnd {
    padding: 20px;
  }

  .loginandregisterbackgrnd h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  .login-register-btn {
    width: 80px;
    height: 40px;
    font-size: 16px;
  }

  .loginandregister-inputs input {
    width: 300px;
  }

  .glassy {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 550px) {
  .loginandregisterbackgrnd {
    padding: 10px 20px;
  }

  .loginandregister-inputs input {
    width: 300px;
    height: 50px;
  }
    .loginandregister {
  
  height: 120vh;
  
}
}

@media only screen and (max-width: 450px) {
  .loginandregister-all {
    padding-top: 100px;
  }

  .loginandregisterbackgrnd {
    padding: 10px;
  }

  .loginandregisterbackgrnd h1 {
    font-size: 24px;
    margin-top: 10px;
  }

  .login-register-btn {
    width: 60px;
    height: 30px;
    font-size: 14px;
  }

  .loginandregister-inputs input {
    width: 200px;
    height: 30px;
  }

  .glassy {
    padding: 20px 60px;
    /* border: 2px solid yellow; */
  }

  .loginandregister-inputs {
    gap: 0px;
  }
  .loginandregister {
  
  height: 120vh;
  
}
}

@media only screen and (max-width: 350px) {
   .loginandregister-all {
    padding-top: 100px;
  }

  .loginandregisterbackgrnd {
    padding: 10px;
  }

  .loginandregisterbackgrnd h1 {
    font-size: 24px;
    margin-top: 10px;
  }

  .login-register-btn {
    width: 60px;
    height: 30px;
    font-size: 14px;
  }

  .loginandregister-inputs input {
    width: 200px;
    height: 30px;
  }

  .glassy {
    padding: 30px;
    /* border: 2px solid yellow; */
    margin-top: 0px;
  }

  .loginandregister-inputs {
    gap: 0px;
  }
  .loginandregister {
  
  height: 300vh;
  
}
}

