.landingpage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 0.5s;
 
}

.video-bg {
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

.bg-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.536);
  position: absolute;
  top: 0;
  z-index: 0;
}

.home-text {
  width: 70%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.audio p {
  font-size: 35px;
  width: 900px;
  margin: 50px 0px 80px 0px;
}

.green-audio::-webkit-media-controls-enclosure {
  color: white !important;
}

.audio {
  width: 1600px;
  padding-top: 200px;
  color: white;
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 200px;
}


@keyframes fade {
  0% {
    opacity: 0;
    margin-left: 3em;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive Styles */

@media screen and (max-width: 1555px) {
  .audio {
    width: 90%;
    padding-top: 100px;
    margin-left: 10px;
    margin-top: 200px;

    font-size: 40px;

    padding-left: 50px;
  }

  .audio h1 {
    width: fit-content;

  }

  .audio p {
    font-size: 30px;
    width: fit-content;
  }
}

@media screen and (max-width: 1280px) {
  .audio {
    margin-top: 150px;
  }
  .headset{
  margin-top: -100px !important;
  
}
}

@media screen and (max-width: 700px) {
  .audio {
    padding-top: 50px;

    margin-left: 10px;
  }

  .audio h1 {
    width: 100%;
    font-size: 50px;
     
  }

  .audio p {
    font-size: 25px;
    width: fit-content;
  }
}

@media screen and (max-width: 430px) {
  .audio {
    width: 90%;
    margin-top: 120px;
    font-size: 25px;
    padding-left: 25px;
  }

  .audio p {
    font-size: 18px;
    width: 90%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 325px) {
    .audio {
    padding-top: 20px;

    margin-left: 10px;
  }

  .audio h1 {
    width: 100%;
    font-size: 34px;
  }

  .audio p {
    font-size: 15px;
    width: fit-content;
  }
.headset{
  margin-top: -100px !important;
  
}

}
