.product-header {
  background-color: rgb(76, 104, 53);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* border: 2px solid saddlebrown; */
}

.product-h1Header {
  display: flex;
  margin-top: 200px;
  margin-left: 100px;
  /* border: 2px solid black; */
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 70%;
}

.product-h1Header h1 {
  font-size: 80px;
  color: white;
  margin-top: 10px;
  padding-bottom: 20px;
}

.product-h1Header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  color: white;
  font-size: 40px;
}

.product-h1Header h5 {
  width: 50%;
}

.image-hand-header {
  width: 700px;
  transform: rotate(-80deg);
  position: absolute;
  top: 60%;
  right: -5%;
  overflow: hidden;
}

.product-header-all {
  position: relative;
  display: flex;
  justify-content: right;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 1555px) {
  .product-h1Header h5 {
    font-size: 30px;
    /* border: 2px solid yellow; */
    width: 80%;
  }
  .product-h1Header h1 {
    font-size: 80px;
  }

  .image-hand-header {
    width: 500px;
    transform: rotate(-80deg);
    position: absolute;
    top: 80%;
    right: -5%;
    overflow: hidden;
  }
}
@media screen and (max-width: 1200px) {
    .product-h1Header h5 {
    font-size: 30px;

    width: 100%;
  }
 
  .image-hand-header {
    width: 450px;
    right: -10%;

    top: 100%;
  }
  .product-h1Header h1{
    font-size: 60px;
  }

  .product-h1Header {
    margin-top: 100px;
    width: 80%;
    margin-left: 2px
  }
}

@media screen and (width: 1114px) {
  .product-h1Header h5 {
    font-size: 35px;

    width: 60%;
  }
  .product-h1Header h1 {
    font-size: 70px;
  }

  .image-hand-header {
    width: 400px;
    right: -5%;

    top: 50%;
  }

  .product-h1Header {
    margin-top: 100px;
    width: 90%;
    margin-left: 10px
  }
}


@media screen and (max-width: 500px) {
  .image-hand-header {
    width: 350px;
    top: 127%;

    transform: rotate(0deg);
  }

  .product-h1Header h1{
    font-size: 45px;

  }
 .product-h1Header h5 {
  width: 100%;
  font-size: 20px;
}
  .product-h1Header {
    margin-top: 100px;
    margin-left: 10px;

    /* border: 2px solid black; */

    width: 100%;
  }
}


@media screen and (max-width: 490px) {

  .image-hand-header {
    width: 370px;
    top: 140%;
    right: 10px;

  }

}

@media screen and (max-width: 350px) {
  
.product-h1Header h1 {
  font-size: 30px;
}

.product-h1Header h5 {
  width: 100%;
  font-size: 20px;
}
 .image-hand-header {
    width: 200px;
    top: 120%;
    right: 50px;

  }

}

