.image-description-single {
  display: flex;
  margin-top: 150px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: rgb(236, 240, 236);
}

.single-info {
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 50px;
  width: fit-content;
  gap: 50px;
}

.bkrndimgcart {
  height: 70vh;
  width: 500px;
 
}

.bkrndimgcart img {
  height: 70vh;
  width: 500px;
}

.btns-single {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

@media only screen and (max-width: 1550px) {
  .image-description-single {
    flex-direction: column;
  }

  .single-info {
    padding: 50px 20px;
  }

  
}

@media only screen and (max-width: 810px) {
  .image-description-single {
    flex-direction: column;
  }

  .single-info {
    padding: 50px 20px;
  }
.bkrndimgcart {
    height: 35vh;
    width: 350px;
  } 

 .bkrndimgcart img {
   height: 35vh;
    width: 250px;
    margin: 0 50px;
   
  }
  .productsection-cards {
    padding: 0;
    margin-bottom: 50px;
   

  }
 
}
