.categoryhome-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding-bottom: 100px;
}

.categoryhome-home-all {
  background-color: rgb(236, 243, 243);
  text-align: center;
  color: white;
}

.shopbyCategory {
  font-size: 60px;
  padding: 50px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.categoryhome-home h1 {
  text-align: center;
}

.categoryhome-Closed {
  height: 650px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgb(76, 104, 53);
}

.categoryhome-Openimg {
  margin-top: 20px;

  width: 250px;
}

.categoryhome-Soloimg {
  width: 200px;
  margin-top: 20px;

  height: 250px;
}

.categoryhome-Open:hover {
  background-color: rgb(175, 201, 159);
  cursor: pointer;
}
.categoryhome-Closed:hover {
  background-color: rgb(175, 201, 159);
  cursor: pointer;
}

.categoryhome-Open {
  background-color: rgb(76, 104, 53);

  height: 320px;
}

.categoryhome-Open h1 {
  font-size: 30px;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.categoryhome-Closed img {
  height: 600px;
}

.categoryhome-Closed h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  color: white;
}

.categoryhome-both {
  gap: 10px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .categoryhome-Closed {
    height: 650px;
    width: 400px;
  }

  .categoryhome-Closedimg {
    height: 550px;
  }
}

@media screen and (max-width: 430px) {
  .categoryhome-Closedimg {
    height: 500px !important;

    width: 350px;
  }

  .shopbyCategory {
    font-size: 45px;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .categoryhome-Closed img {
    width: 290px;
    margin-left: 5px;
    height: 450px !important;
  }

  .categoryhome-Closed {
    height: 500px;
  }

  .categoryhome-Closed h1 {
    font-size: 35px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 325px) {
  .shopbyCategory {
    font-size: 40px;
  }
}
