

.howitworksall {
  background-image: url("../images//howitworks.jpg");
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.howitworks-title {
  color: white;
  font-size: 80px;
 
}

.howitworks-stepsall {
  /* border: 2px solid green; */
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.306);
  color: white;
  
  font-size: 20px;
  text-align: center;
  gap: 150px;
 padding: 100px;
 

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.howitworksicon {
  /* border: 2px solid salmon; */
  
}

.HowitWorks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(4, 5, 5, 0.356);

 height: 120vh;
}

.howitworks-steps p {
  width: 300px;
  /* border: 2px solid black; */
}



@media screen and (max-width: 1450px) {
  .howitworksall {
height: auto;
padding-bottom: 50px;
}

.howitworks-title {
font-size: 60px;
margin-top: 30px;
}

.howitworks-stepsall {
flex-direction: column;
padding: 20px;
font-size: 18px;
gap: 30px;
}

.howitworks-steps {
text-align: center;
}

.howitworksicon {
width: 80px;
height: 80px;
margin-bottom: 10px;
}

.howitworks-steps h2 {
font-size: 24px;
}

.howitworks-steps p {
width: 100%;
max-width: 500px;
}
}



@media screen and (max-width: 850px) {
.howitworksall {
height: auto;
padding-bottom: 50px;
}

.howitworks-title {
font-size: 60px;
margin-top: 30px;
}

.howitworks-stepsall {
flex-direction: column;
padding: 20px;
font-size: 18px;
gap: 30px;
}

.howitworks-steps {
text-align: center;
}

.howitworksicon {
width: 80px;
height: 80px;
margin-bottom: 10px;
}

.howitworks-steps h2 {
font-size: 24px;
}

.howitworks-steps p {
width: 100%;
max-width: 500px;
}
}