.whole-product {
  /* border: 2px solid green; */
  margin: 50px;
  padding-left: 50px;
  background-color: rgb(236, 243, 243);
}
.card {
  width: 400px;
  height: 574px;
  background: white;
  padding: 0.4em;
  border-radius: 6px;
  border: 2px solid rgb(190, 234, 190);
  margin-left: 50px;
}

.product-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* 
button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid rgb(76, 104, 53);
  background-color: rgb(76, 104, 53);
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;

  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);

  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
} */

.product-cards {
  padding-top: 200px;
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.card-image {
  background-color: rgb(175, 201, 159);
  width: 100%;
  height: 60%;
  border-radius: 10px;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}



@media only screen and (max-width: 768px) {
  .testimonial p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .testimonial h6 {
    font-size: 1rem;
  }

  .whole-product {
    margin: 200px 0;
    width: 700px;
  }
}

@media only screen and (max-width: 576px) {
  .testimonial img {
    width: 60px !important;
    height: 60px !important;
    object-fit: cover;
  }
  .whole-product {
    width: 100%;
    padding: 0;
    margin: 100px 0;
  }
}

/* Product Section */
.productsection-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 2px solid green; */
  padding: 150px;
}

.productsection {
  margin-bottom: 20px;
  /* border: 2px solid red; */
}

nav {
  /* Add your navigation styling here */
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
 
}

.product-category-btn {
  
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(83, 16, 27);
}


.product-category-btn.active {
  color: #3f6e0c !important;
}

.featured-card-image{
  background-color:rgb(175, 201, 159);
  border-radius: 100px;
  width: 500px;
}

.featuredcard-title p{
  font-size: 25px;
  text-align: center;
  /* border: 2px solid yellow; */
  width: 1000px;
  margin-top: 20px;
  margin-bottom: -100px;
}

.featuredcard-title{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-card-image img{
  width: 500px;
  
}

.featuredcard-title h1{
  font-size: 100px;
  text-align: center;
}

