.navbar {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: fit-content;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.809);
  padding: 10px 100px;
  align-items: center;
  /* border: 2px solid yellow; */
  position: fixed;
  z-index: 1;
}

.logandcart-nav {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  flex-direction: row;

  gap: 30px;
}

.navlinks {
  text-decoration: none;
  color: white;
}

.navlinks.active {
  color: #04aa6d;
}

.navlinks:hover {
  color: #04aa6d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #fff;

  width: 100%;
  top: 0;
}

.navbar-logo img {
  /* border: 2px solid rebeccapurple; */
  width: 200px;
  margin-left: 90px;
}

.navbar-logo,
.navbar-link {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 10px 20px;
  gap: 70px;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.809);

  gap: 20px;
  top: 5rem;
  left: 0;
  width: 100%;
  padding: 3rem 0;
  z-index: 999;
}

.navlinks {
  display: block;
  text-align: center;
}

.navbar-toggle {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar-links {
    display: none;
  }

  .navbar {
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
  }

  .navbar-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 2rem;
    cursor: pointer;
  }

  .navbar-logo img {
    /* border: 2px solid rebeccapurple; */
    width: 150px;
    margin-left: 0;
  }

  .navbar-logo,
  .navbar-link {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
  }

  .navbar {
    padding: 10px;
  }
}
