.Contact-header-img {
  background-image: url("../images/hero.jpg");

  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Contact-header-img h1 {
  font-size: 80px;
  margin-left: 50px;
 
  text-align: left;
  padding-top: 300px;
}



.contactus-form {
  display: flex;
  margin-top: 100px;
  flex-direction: row;
  

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.contactimg {
  width: 550px;
  height: 795px;
  
}

.contactus-form-inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  height: 800px;
  padding:90px 150px 90px;
  background-color: rgb(236, 240, 236);
  gap: 30px;
}

.contactus-form-inputs h5 {
  font-size: 40px;
}

.message{ 
  
   height: 150px !important;

}

.cont-inputs {
 

  width: 350px;
  height: 50px;
  justify-content: space-between;
 
  border: none;
}

.Contact-btn{
    border: none;
    width: 100px;
    height: 30px;
    color: white;
    background-color:rgb(76, 104, 53);
   
  
  
}