.footer-logo {
width: 250px;
}

.links-fot{
    color: white;

}

.anchormail{
    color: white;
}

.anchormail:hover{
  color: #8fe2c3;
}

.footer-container {
background-color: rgb(76, 104, 53);
padding: 50px 10%;

color: rgb(255, 255, 255);
}

.footer-title1,
.footer-title2,
.footer-title3 {
display: flex;
flex-direction: column;
gap: 10px;

}

.footer-container-details {
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 5rem;
flex-wrap: wrap;
}

.footer-social-contact {
display: flex;
flex-direction: row;
gap: 1rem;
}

.footer-title1 h1,
.footer-title2 h1,
.footer-title3 h1{
color: rgb(7, 7, 7);
}

.imageandcontactinfo{
display: flex;
flex-wrap: wrap;
border: 2px solid red;
flex-direction: column;
align-items: center;
gap: 100px;
margin-top: 0;
justify-content: left;
}

@media screen and (max-width: 768px) {
.footer-container {
padding: 50px 5%;
}

.footer-container-details {
flex-direction: column;
justify-content: center;

gap: 5rem;
}
}

@media screen and (max-width: 576px) {
.footer-container {
padding: 50px 2%;
}

.footer-social-contact {
flex-direction: column;
gap: 0.5rem;
}

.footer-title1,
.footer-title2,
.footer-title3 {
text-align: center;
}

.footer-container-details {
gap: 2rem;
}
}